* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

input {
  background-color: black;
  height: 40px;
  width: 150px;
  margin: 20px;
  color: white;
}
button {
  height: 25px;
  width: 60px;
  border-radius: 5px;
}
